.navWrapper {
  .navBar {
    button {
      background: none;
      border: none;
      outline: none;
      background-color: White;
			box-shadow: 2px 2px 2px 2px lightgray;
      width: 100%;
      text-align: right;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      &:hover {
        color: black;
      }
    }
    .menuNav {
      display: none;
    }
    .showMenu {
				padding-left: 0;
				box-shadow: 2px 2px 2px 2px lightgray;
				li {
					list-style: none;
					text-align: center;
					margin-top: 5px;
					a{
						text-decoration: none;
						color: black;
						font-size: 1.5rem;
						transition: all 0.3s ease-in-out;
					}
			}
    }
  }
}
